[submodule "SparkEngine/vendor/spdlog"]
	path = SparkEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SparkEngine/vendor/GLFW"]
	path = SparkEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
